/* general styling */
@import "tables.css";

/* specific page styling */
@import "admin.css";
@import "home.css";

h1 {
	font-family: 'Dancing Script', cursive;
}

button {
	border: none;
	outline: none;
	padding: 10px 15px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover{
	cursor: pointer;
	color: #fff;
	background: #333;
}
