th {
    background-color: #04AA6D;
    color: white;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    height: fit-content;
    width: fit-content;
    vertical-align: middle;
    text-align: center;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

