
table {
    width: 100%;
    border-collapse: collapse;

}

th {
    background-color: #04AA6D;
    color: white;
    border-bottom: 1px solid #ddd;
}

td {

}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


